<!-- Directiva que establece que este componente es accesible en la ruta raíz de la aplicación -->
<!-- La página será la página de inicio (ruta "/") -->
@page "/"

<!-- Define el título que se mostrará en la pestaña del navegador cuando se visite la página de inicio -->
<PageTitle>Home</PageTitle>

<!-- Encabezado principal de la página con un saludo genérico -->
<h1>Hello, world!</h1>

<!-- Texto simple de bienvenida que aparece debajo del encabezado -->
Welcome to your new app.