<!-- Directiva que establece que este componente es accesible en la ruta raíz de la aplicación -->
<!-- La página será la página de inicio (ruta "/") -->
@page "/home"

<AuthRedirect />    

<!-- Define el título que se mostrará en la pestaña del navegador cuando se visite la página de inicio -->
<PageTitle>GnuCannabis - Inicio</PageTitle>
 
<div class="text-center mt-5">
    <h1 class="display-4">🌿 ¡Bienvenido a GnuCannabis! 🌿</h1>
    <p class="lead mt-4">
        Tu plataforma de confianza para la gestión eficiente de cultivos de cannabis.
    </p>
    <p class="mt-3">
        Organiza, monitorea y optimiza cada etapa de tu producción de manera fácil y segura.
    </p>
</div>
 